ahoy_config = {'interval': 5,
               'transmit_retries': 5,
               #'sunset': {'disabled': False, 'latitude': 51.799118, 'longitude': 10.615523, 'altitude': 1142},
               'nrf': [{'spi_num': 1, 'sck': 7, 'mosi': 11, 'miso': 9, 'cs': 12, 'ce': 16}],  # neu
               #'display': {'i2c_num': 0, 'scl_pin': 6, 'sda_pin': 5, 'display_width': 128, 'display_height': 64},
               #'mqtt': {'disabled': False, 'host': 'homematic-ccu2', 'port': 1883},
               #'blink': {'led_pin': 8, 'inverted': False, 'neopixel': True},
               'dtu': {'serial': 99978563001, 'name': 'mpy-dtu'},
               'inverters': [
                   {'name': 'garage',
                    'serial': 114172220003,
                    'txpower': 'low',
                    'mqtt': { 'topic': 'hoymiles/hm600'},
                    'strings': [
                        {'s_name': 'String 1 left', 's_maxpower': 380},
                        {'s_name': 'String 2 right', 's_maxpower': 380},
                        {'s_name': 'String 3 up', 's_maxpower': 405},
                        {'s_name': 'String 4 down', 's_maxpower': 410}
                    ]
                    }
                ]
               }
